@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Poppins:ital,wght@0,300;0,400;1,300&family=Ubuntu:ital@1&display=swap');



.body{
  background-image: url("../img/fondodepatas.jpg")
}
.button{
  padding: 0.25em 1em;
    background-color: black;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: solid;
    margin: 0.5cm;
    font-family: 'Poppins', sans-serif;
}

.swiper{

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 600px;
  background-color: #f3d4e8;
  font-family: 'Poppins', sans-serif;
} 